$uiColorBg: #444444;
$uiColorBgActive: rgba(81, 146, 172, 0.897);
$uiTextColor: #ffffffee;
$uiTextColorActive: #ffffffff;
$uiHeaderSize: 6.2em;
$uiAnimationLength: 0.25s;
$uiLetterSpacing: 0.07em;

body{
    margin: 0;
    font-family: sans-serif;
    font-weight: 400;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    color: $uiTextColor;
}

h1, h2, h3, h4 {
    color: $uiTextColor;
}

ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;

    .title{
        position: absolute;
        top: 0;
        left: calc(#{$uiHeaderSize} + 2px);
        background-color: $uiColorBg;
        padding: 0 2rem;
        height: $uiHeaderSize;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

    }

    h1 {
        margin: 0;
        font-size: 1.4em;
        font-weight: 900;
        letter-spacing: $uiLetterSpacing;
        line-height: 1.2em;
    }

    div[class*='trigger']{
        
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: content-box;
        height: $uiHeaderSize;
        width: $uiHeaderSize;
        background-color: $uiTextColor;
        
        transition: all $uiAnimationLength;

        cursor: pointer;

        &:hover{
            background-color: $uiTextColorActive;

            .icon{
                color: $uiColorBgActive;
            }
        }

        .icon{
            font-size: 3em;
            color: $uiColorBg;
            position: absolute;
            top: 0%;
            left: 0%;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 1;
            transition: all $uiAnimationLength;
           

            &.close{
                opacity: 0;
            }
        }
    }
    
    .info-trigger{
        right: 0;
        
    }

    .menu-trigger {
        left: 0;
        // font-size: 3em;
       

        
    }

}

.menu-box{
    background-color: $uiColorBg;
    position: absolute;
    padding: 2rem;
    top: calc(#{$uiHeaderSize} + 2px);
    margin: 0;
    overflow: hidden;

    li{
        border-top: solid 1px $uiTextColor;
        padding: 0.5em 1em;
        text-align: center;
        background-color: rgba(0,0,0,0);
        transition: all $uiAnimationLength;
        cursor: grab;
        font-weight: 600;
        user-select: none;
        letter-spacing: $uiLetterSpacing;
        &:hover{
            background-color: $uiColorBgActive;
        }
    }


}

.menu{

    #mainMenu{
        
        
        left: 0;
      
        opacity: 0;
        // height: 0;
        transform: translate(-25%, -50%) scale(0.5, 0) ;
        transition: all $uiAnimationLength;
        
        li{
            
            &:active{
                cursor: grabbing;
            }
        }
    }

    &.opened{
        #mainMenu{
            height: auto;
            opacity: 1;
            transform: translate(0, 0) scale(1, 1) ;
        }
        
        div[class*='trigger']{
            .icon{
                &.open {
                    opacity: 0;
                }
                &.close {
                    opacity: 1;
                }
            }
        }
    }
}

#object-properties{
    width: 10em;
    right: 0;
}
#show-range-li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-content{
    position: absolute;
    top: calc(100% + 2px);
    right: 0;
    background-color: $uiColorBg;
    padding: 2em;
    width: 16em;
    transform: translate(100%, -50%) scale(0, 0) ;
    // transform: ;
    opacity: 0;
    transition: all $uiAnimationLength;
    z-index: 1;
    
    li{
        margin-top: 1em
    }
}

.icon{
    &:hover + .info-content{
        transform: translate(0%, 0%) scale(1, 1) ;
        opacity: 1;
        
    }
}


.delete{
    &-container{
        background-color: $uiColorBg;
        padding: 1rem;
        margin: auto;
        font-size: 3rem;
        display: none ;
    }
}
// .heder